apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.awsSecret.name }}
  namespace: {{ .Values.awsSecret.Namespace }}
type: Opaque
data:
  name: aws-credentials
  accessKey: <<aws accesskey>>
  secretKey: <<aws secretkey>>
